.no-animation.ng-animate.ng-enter,
.no-animation.ng-animate.ng-leave,
.no-animation.ng-animate.ng-enter.ng-enter-active,
.no-animation .ng-leave.ng-leave-active,
.no-animation.ng-animate.ng-show,
.no-animation.ng-animate.ng-hide {
  opacity: 0;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.ng-enter {
  opacity: 0;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.margin-v5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-v10 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.margin-v15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.margin-v30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.margin-v35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.margin-v50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.padding0 {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}
.padding15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.padding25 {
  padding-top: 25px !important;
}
.padding20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}
.padding-20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20;
  padding-right: 20;
}
.padding {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.padding30 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.padding-h5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-h10 {
  padding-left: 10px;
  padding-right: 10px;
}
.padding-h15 {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-v5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.padding-v10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-v15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.row + .row {
  margin-bottom: 20px;
}
.row-validator {
  min-height: 60px;
}
.form-group.row-validator {
  margin-bottom: 0px;
}
header {
  background: #ffffff;
  padding-bottom: 20px;
}
header .navbar {
  margin-bottom: 0;
}
.nav a {
  color: #646365;
}
header a {
  padding: 10px !important;
}
.nav > li > a:focus,
.nav > li > a:hover {
  background-color: transparent;
}
html,
body {
  height: 100%;
}
div.body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -172px auto;
  padding: 0 0 172px 0;
}
footer {
  height: 172px !important;
  background: #494949;
  color: #dddddd;
  padding-top: 15px;
  padding-bottom: 5px;
}
footer a,
footer a:hover {
  text-decoration: none;
  color: #999999;
}
.icon-in {
  padding-left: 40px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.icon-in-user {
  background-image: url(/common/img/user.png);
}
.icon-in-password {
  background-image: url(/common/img/password.png);
}
.link-box > a {
  display: inline-block;
  padding-left: 24px;
  background-size: 24px 48px;
  background-repeat: no-repeat;
}
.link-box > a.weixin {
  background-image: url(/common/img/weixin.png);
  color: #3c763d !important;
}
.link-box > a:HOVER,
.link-box > a.active {
  background-position-y: -24px;
}
.btn-action {
  color: #ffffff;
  background-color: #f9bc55;
  border-color: #f8b23c;
}
.btn-action:focus,
.btn-action.focus {
  color: #ffffff;
  background-color: #f7a924;
  border-color: #af7006;
}
.btn-action:hover {
  color: #ffffff;
  background-color: #f7a924;
  border-color: #ef9908;
}
.btn-action:active,
.btn-action.active,
.open > .dropdown-toggle.btn-action {
  color: #ffffff;
  background-color: #f7a924;
  border-color: #ef9908;
}
.btn-action:active:hover,
.btn-action.active:hover,
.open > .dropdown-toggle.btn-action:hover,
.btn-action:active:focus,
.btn-action.active:focus,
.open > .dropdown-toggle.btn-action:focus,
.btn-action:active.focus,
.btn-action.active.focus,
.open > .dropdown-toggle.btn-action.focus {
  color: #ffffff;
  background-color: #ef9908;
  border-color: #af7006;
}
.btn-action:active,
.btn-action.active,
.open > .dropdown-toggle.btn-action {
  background-image: none;
}
.btn-action.disabled,
.btn-action[disabled],
fieldset[disabled] .btn-action,
.btn-action.disabled:hover,
.btn-action[disabled]:hover,
fieldset[disabled] .btn-action:hover,
.btn-action.disabled:focus,
.btn-action[disabled]:focus,
fieldset[disabled] .btn-action:focus,
.btn-action.disabled.focus,
.btn-action[disabled].focus,
fieldset[disabled] .btn-action.focus,
.btn-action.disabled:active,
.btn-action[disabled]:active,
fieldset[disabled] .btn-action:active,
.btn-action.disabled.active,
.btn-action[disabled].active,
fieldset[disabled] .btn-action.active {
  background-color: #f9bc55;
  border-color: #f8b23c;
}
.btn-action .badge {
  color: #f9bc55;
  background-color: #ffffff;
}
a {
  color: #f9bc55;
}
a:hover,
a:active,
a.active {
  color: #f7a924;
}
a:hover:disabled,
a:active:disabled {
  color: #f9bc55 !important;
}
a.remove:hover,
a.remove:active {
  color: #ff0000 !important;
}
hr {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  margin-bottom: 10px;
}
.img-list {
  width: 100%;
  min-height: 50px;
}
.box {
  min-height: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.box a {
  color: #555555;
}
.col-md-0 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.important {
  font-size: 110%;
  color: #e02222;
  font-weight: bold;
}
.note {
  font-size: 80%;
  color: #808080;
}
.disabled {
  color: #808080;
}
.clickable {
  cursor: pointer;
}
.required {
  color: #e02222;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.black {
  color: black;
}
.help-menu {
  width: 182px;
  line-height: 80px ;
}
.help-menu a {
  text-decoration: none;
}
.carousel > .carousel-inner > .item > img {
  height: 350px;
}
.carousel-indicators {
  width: auto;
  left: auto;
  right: 30px;
  bottom: 0px !important;
}
div.carousel-caption {
  color: #000000;
  padding: 0px 0px 20px 0px;
  left: 0px;
  right: 0px;
}
ol.carousel-indicators li.active,
ol.carousel-indicators li {
  border: 1px solid #555555;
  border-radius: 50% !important;
}
