<div id="site-content" class="site-content container"><div class="wrapper_content">
	<div class="">
		<div class="row" style="background-color: white; margin: 0; padding: 20px 0;">
		  <div class="col-md-4">
			<a class="navbar-brand" href="/" onclick="reopen()"><img class="fa" src="/common/img/logo.png" style="width: auto; height: 24px;"></a>
		  </div>
		  <div class="col-md-8 padding-v15">
			<div class="input-group">
				<input type='text' class='form-control' name="search" ng-model="user.search" placeholder="服务">
				<span class="input-group-btn">
				<button class="btn btn-primary" style="width: 120px;" type="button" onclick="javascript:decodeTS()"> 搜索 </button>
			  </span>
			  <span class="input-group-btn" style="padding-left: 60px;">
				<button class="btn btn-action" type="button" onclick="javascript:encodeTS()">创建服务</button>
			  </span>
			</div>
		  </div>
		</div>
	</div>
		
    <div class="nav">
        <ul style="padding-left: 210px;">
			<li class="active" href="/service/list.html" onclick="reopen()">数据商城</li>
			<li class="" href="/service/list.html" onclick="reopen()">云服务</li>
			<li class="" href="/service/list.html" onclick="reopen()">计算服务</li>
			<li class="" href="/service/list.html" onclick="reopen()">解决方案</li>
        </ul>
    </div>
    <div class="content" style="overflow: hidden;">
		<div data-ng-include="'/common/template/t_menu.html'"> </div>
		<div class="cont_wrapper" style="width:930px">
			<div class="cont_right" ng-if='action == "newservice"'>
				<div class="cr_header"><h4 class="caozuo">账户概览</h4></div>
				<div class="center_list">
					<div class="header"><div class="head_left col-md-12">
						<div class="headImg"><img width="60" height="60" src="/common/img/default.jpeg" alt=""></div>
						<div>
							<div class="pull-left">
								<h4 class="padding-v5 padding-h15">手机号码：{{userData.mobile | mask }}<i></i></h4>
								<h4 class="padding-v5 padding-h15">邮箱地址：{{userData.email | mask }}<i></i></h4>
							</div>
							<div class="pull-left">
								<h4 class="padding-v5 padding-h15"><span class="text-success" ng-if="userData.mobile_validate">已验证</span><span class="text-danger" ng-if="!userData.mobile_validate">未验证</span></h4>
								<h4 class="padding-v5 padding-h15"><span class="text-success" ng-if="userData.email_validate">已验证</span><span class="text-danger" ng-if="!userData.email_validate">未验证</span></h4>
							</div>
						</div>
					</div></div>
					<div class="cr_header" ng-if="!userData.validate"><h4 class="caozuo">  </h4></div>
					<div class="header" ng-if="!userData.validate">
						您暂时还没有认证为服务商，不能发布服务。<a class="btn btn-info " ng-click="go('vendor')"> 我要申请服务商&gt;&gt; </a>
					</div>
				</div>
			</div>
			<div class="cont_right" ng-if='action == "service"'>
				<div class="cr_header"><h4 class="caozuo">服务管理</h4></div>
				<div class="center_list col-md-12">
					<table class="table table-bordered text-center margin-v15">
						<tr>
							<th class="col-md-2 text-center">服务名称</th>
							<th class="col-md-2 text-center">创建时间</th>
							<th class="col-md-2 text-center">最近更新时间</th>
							<th class="col-md-2 text-center">服务类型</th>
							<th class="col-md-2 text-center">服务状态</th>
							<th class="col-md-2 text-center">操作</th>
						</tr>
						<tr ng-repeat="item in data">
							<td>{{item.name}}</td>
							<td>{{item.creatTime}}</td>
							<td>{{item.lastTime}}</td>
							<td>{{item.type}}</td>
							<td>{{item.status}}</td>
							<td><a href="/product/list.html?id={{item.id}}">查看</a></td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>

