<div class="cont_left">
	<ul>
		<li href="#" ><div><span>用户中心</span></div></li>
		<li href="#" ><div class="divider"><span>账户管理</span></div></li>
		<li ng-class="{'active': menu=='account'}" href="#" ><div><i class="icon"></i><span>账户概览</span></div></li>
		<li ng-class="{'active': menu=='validate'}" href="#" ><div><i class="icon"></i><span>服务商认证</span></div></li>
		<li ng-class="{'active': menu=='changepwd'}" href="#" ><div><i class="icon"></i><span>修改密码</span></div></li>
		<li href="#" ><div class="divider"><span>我的服务</span></div></li>
		<li ng-class="{'active': menu=='newservice'}" href="#" ><div><i class="icon"></i><span>创建服务</span></div></li>
		<li ng-class="{'active': menu=='service'}" href="#" ><div><i class="icon"></i><span>服务管理</span></div></li>
		<li ng-class="{'active': menu=='sold'}" href="#" ><div><i class="icon"></i><span>售出明细</span></div></li>
		<li href="#"><div class="divider"><span>已购服务</span></div></li>
		<li ng-class="{'active': menu=='order'}" href="#" ><div><i class="icon"></i><span>我的订单</span></div></li>
		<li ng-class="{'active': menu=='status'}" href="#" ><div><i class="icon"></i><span>服务使用情况</span></div></li>
	</ul>
</div>

<script type="text/javascript">
/*
    jQuery(function () {
        // Invoke the plugin
        jQuery('.menu a').each(function() {
			var $this = jQuery(this);
			var url = $this.attr("href");
			if (window.location.href.indexOf(url) > -1) {
				$this.addClass("active");
			}
		});
    });
	*/
</script>