<div class="" ng-class='menu.css' id="menu-zone">
	<div class="row " >
	<div class="menu" style="margin:0 15px" >
		<ul class="nav nav-tabs" ng-class="{'nav-header': !menu.b || !menu.s}" id="menu-list">
			<li class="menu-b" role="presentation" ng-if="menu.b"> <a ng-class="{'active': menu.bactive}" href="/buyer.html" onclick="setRole('buyer')" >买家</a> </li>
		    <li class="menu-s" role="presentation" ng-if="menu.s"> <a ng-class="{'active': menu.sactive}" href="/seller.html" onclick="setRole('seller')" >卖家</a> </li>
		</ul>


<ul class="list-group">
  <label class="list-group-item  list-group-item-warning">{{menu || "m"}}用户中心</label>
  <a class="list-group-item" href="#" >账户管理</a>
  <a class="list-group-item" href="#" >账户概览</a>
  <a class="list-group-item" href="#" >服务商认证</a>
  <a class="list-group-item" href="#" >修改密码</a>
  <a class="list-group-item" href="#" >我的服务</a>
  <a class="list-group-item" href="#" >创建服务</a>
  <a class="list-group-item" href="#" >服务管理</a>
  <a class="list-group-item" href="#" >售出明细</a>
  <a class="list-group-item" href="#" >已购服务</a>
  <a class="list-group-item" href="#" >我的订单</a>
  <a class="list-group-item" href="#" >服务使用情况</a>
</ul>

<div class="menu_buyer" ng-if="menu.bactive && !userData.dyy">
    <dl class="">
		<dt>交易中心</dt>
		<!--dd class=""><a href="javascript:;">采购单管理</a></dd -->
		<dd class=""><a href="" ng-click="goPage('/buyer.html#/qorder')">询价单管理</a></dd>
		<dd class=""><a href="" ng-click="goPage('/buyer.html#/orders')">订单管理</a></dd>
		<dd class=""><a href="" ng-click="goPage('/buyer.html#/discount')">优惠券管理</a></dd>
	</dl>
	<dl class="">
		<dt>系统设置 </dt>
		<dd class="" ng-if="powerful"><a href="" ng-click="goPage('/buyer.html#/security')">模块密码管理</a></dd>
		<dd class="" ng-if="powerful"><a href="" ng-click="goPage('/buyer.html#/employee')">子账户管理</a></dd>
		<dd class=""><a href="" ng-click="goPage('/buyer.html#/password')">登录密码管理</a></dd>
	</dl>
</div>
	</div>
	</div>
</div>

<script type="text/javascript">
/*
    jQuery(function () {
        // Invoke the plugin
        jQuery('.menu a').each(function() {
			var $this = jQuery(this);
			var url = $this.attr("href");
			if (window.location.href.indexOf(url) > -1) {
				$this.addClass("active");
			}
		});
    });
	*/
</script>