<div id="site-content" class="site-content container"><div class="wrapper_content">
	<div class="">
		<div class="row" style="background-color: white; margin: 0; padding: 20px 0;">
		  <div class="col-md-4">
			<a class="navbar-brand" href="/" onclick="reopen()"><img class="fa" src="/common/img/logo.png" style="width: auto; height: 24px;"></a>
		  </div>
		  <div class="col-md-8 padding-v15">
			<div class="input-group">
				<input type='text' class='form-control' name="search" ng-model="user.search" placeholder="服务">
				<span class="input-group-btn">
				<button class="btn btn-primary" style="width: 120px;" type="button" onclick="javascript:decodeTS()"> 搜索 </button>
			  </span>
			  <span class="input-group-btn" style="padding-left: 60px;">
				<button class="btn btn-action" type="button" onclick="javascript:encodeTS()">创建服务</button>
			  </span>
			</div>
		  </div>
		</div>
	</div>
		
    <div class="nav">
        <ul style="padding-left: 210px;">
			<li class="active" href="/service/list.html" onclick="reopen()">数据商城</li>
			<li class="" href="/service/list.html" onclick="reopen()">云服务</li>
			<li class="" href="/service/list.html" onclick="reopen()">计算服务</li>
			<li class="" href="/service/list.html" onclick="reopen()">解决方案</li>
        </ul>
    </div>
    <div class="content" style="overflow: hidden;">
	<div data-ng-include="'/common/template/t_menu.html'"> </div>
	<div class="cont_wrapper">
        <div class="cont_right">
			<div class="content_duijie" style="display: none;">
				<div class="duijie_box" style="min-height: 800px; background-color: #FFFFFF;">
					<div class="stat_count" id="statistics">
						<div class="stat_radar" id="radarmap" style="height:300px;width: 600px;margin: 0 auto;"></div>
						<ul>
							<li><img alt="" src=""><p>人脉：<b class="people_count"></b></p></li>
							<li><img alt="" src=""><p>组织：<b class="organ_count"></b></p></li>
							<li><img alt="" src=""><p>知识：<b class="knowledge_count"></b></p></li>
							<li><img alt="" src=""><p>需求：<b class="demand_count"></b></p></li>
						</ul>
					</div>
					
					<div class="stat_count" id="statistics">
					<!--<div class="stat_pie" id="piemap" style="height:300px;width: 600px;margin: 0 auto;"></div>-->
					</div>
				</div>
			</div>
	</div></div>
</div></div>