
<div class="bg_login"> <div class="container">
	
	<div class="col-md-2" data-ng-include="'/common/template/t_menu.html'"> </div>
	<div class="col-md-10">
		<div class="alert am-fade alert-danger" ng-if="alerts && alerts.length > 0" >{{alerts}}</div>
		<div class="padding">
			<h3 class="text-left">账户登录</h3>
			<hr class="row">
			<form name="loginForm" class='form form-horizontal form-validation padding' ng-valid ng-invalid ng-submit="login()">
				<div class="form-body">
					<div class='form-group row-validator'>
						<div class='controls'>
							<input type='text' class='form-control icon-in icon-in-user' name="uname" ng-model="user.uname"
								  validator="required, account" required-error-message="请输入注册的手机号或邮箱" valid-method="submit" title="手机号/邮箱" placeholder="手机号/邮箱">
						</div>
						<div class='controls  '>
							<small class="text-danger" ng-if="user.error.indexOf('32') != 0">{{user.error}}</small>
						</div>
					</div>

					<div class='form-group row-validator'>
						<div class='controls '>
							<input type='password' class='form-control icon-in icon-in-password' name="password" ng-model="user.password"
								   validator="required" required-error-message="请输入密码" valid-method="submit" title="密码" placeholder="密码">
						</div>
						<div class='controls  '>
							<small class="text-danger" ng-if="user.error == '3202'">密码错误！</small>
						</div>
					</div>
					
					<div class='form-group row '>
						<div class='pull-right'>
							<a class='vote1 font-size-14' href="javascript:;" ng-click="go('forgot', 0)"> 忘记密码 </a>
						</div>
					</div>
				</div>

				<div class='form-actions margin-top--11' >
					<div class="row">
					<button type="submit" class="btn btn-action col-md-12" validation-submit="loginForm" ng-click="login()" title="">
						　登 录　
					</button>
					</div>
				</div>
			</form>
			<div style="margin-bottom: 25px;">
				<div class='pull-left link-box'>
					<a class='weixin active text-success' href="https://open.weixin.qq.com/connect/qrconnect?appid=wxa8d92f54c4a0e3f6&redirect_uri=http://open.gintong.com&response_type=code&scope=snsapi_login&state=123#wechat_redirect"> 微信登录 </a>
				</div>
				<div class='pull-right'>
					<a class='' href="/user/register.html"> &gt;&gt;立即注册 </a>
				</div>
			</div>
		</div>
	</div>
</div> </div>

