<div class="navbar"><div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
		<a class="navbar-brand" href="/index.html"><img class="fa" src="/common/img/logo.png" style="width: auto; height: 24px;"></a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav pull-right">
		<li class=""><a href="/user/login.html" onclick="reopen()"><i class="fa" > 登录</i></a></li>
		<li class="pull-right"><a href="/user/register.html" onclick="reopen()"><i class="fa"> 注册</i></a></li>
	</ul>
    </nav>
</div></div>
