#bs-navbar.navbar-collapse.collapse .hide {
  display: none;
}
.bg_login {
  height: 537px;
  background-image: url(/user/img/bg_login.jpg);
  background-size: 1920px 537px;
  background-repeat: no-repeat;
  background-position: center center;
}
.login-form {
  float: right;
  top: 100px;
  position: relative;
  z-index: 4;
  width: 346px;
  background: #ffffff;
  overflow: visible;
}
.register-form {
  margin: 100px auto;
  position: relative;
  z-index: 4;
  width: 400px;
  background: #ffffff;
  overflow: visible;
}
.step {
  margin-left: 50px;
  font-size: 150%;
}
.step.active {
  color: red;
}
.h4title {
  background: #fafafa;
  border: 1px solid #dadada;
}
