
<div data-ng-include="'/service/template/t_search.html'"></div>

<div class="container">
	<div class="col-md-12 box"><div class="">
		<div class='col-md-12'>
			<label class='col-md-2'>产品分类：</label>
			<a class='col-md-1'>电子商务</a><a class='col-md-1'>金融</a><a class='col-md-1'>公共事务</a>
		</div>
		<div class='col-md-12'>
			<label class='col-md-2'>价格：</label>
			<a class='col-md-1'>全部</a><a class='col-md-1'>免费</a><a class='col-md-1'>收费</a>
		</div>
	</div></div>
	<div class="col-md-12 box margin-v15"><div class="">
		<div class='col-md-12'>
			<a class='col-md-0'>全部</a><a class='col-md-0'>综合排序</a><a class='col-md-0'>最新</a>
		</div>
	</div></div>
	<div class="col-md-12"><div class="">
		<div class="col-md-3 clickable" ng-repeat="item in data.list track by $index" ng-click="show(item)">
			<img ng-src="{{item.img | formatUrl}}"  class="img-list img-thumbnail" title="{{item.name}}"/>
			<h4 class="text-center padding-v15" ng-bind-html="item.name"></h4>
			<h4 class="text-center important">{{item.price ? item.price + " " + item.unit : "免费" }}</h4>
			<p class="padding-v15" style="height: 60px; overflow: hidden;"><b>服务描述： </b><span ng-bind-html="item.description"></span></p>
		</div>
		<div class="col-md-12" ng-if="!data.list">
			<p class="text-danger">没有找到符合条件的服务~</p>
		</div>
	</div></div>
	<div class="col-md-12" style="margin-bottom: 50px;"><div class="">
	</div></div>
</div>
