
<div class="container">
	<div class="row">
	  <div class="col-md-4">
		<a class="navbar-brand" href="/" onclick="reopen()"><img class="fa" src="/common/img/logo.png" style="width: auto; height: 24px;"></a>
	  </div>
	  <div class="col-md-8 padding-v15">
		<div class="input-group">
		  	<input type='text' class='form-control' name="search" ng-model="user.search" placeholder="服务">
			<span class="input-group-btn">
			<button class="btn btn-primary" style="width: 120px;" type="button" onclick="javascript:decodeTS()"> 搜索 </button>
		  </span>
		  <span class="input-group-btn" style="padding-left: 60px;">
			<button class="btn btn-action" type="button" onclick="javascript:encodeTS()">创建服务</button>
		  </span>
		</div>
	  </div>
	</div>
	<div class="clearfix">
	<div class="col-md-4"><h3 class="padding">服务行业</h3></div>
	<div class="col-md-8">
	<ul class="nav navbar-nav ">
		<li class=""><a href="/service/list.html" onclick="reopen()"><i class="fa" ><h3>数据商城</h3></i></a></li>
		<li class=""><a href="/service/list.html" onclick="reopen()"><i class="fa"><h3>云服务</h3></i></a></li>
		<li class=""><a href="/service/list.html" onclick="reopen()"><i class="fa" ><h3>计算服务</h3></i></a></li>
		<li class=""><a href="/service/list.html" onclick="reopen()"><i class="fa"><h3>解决方案</h3></i></a></li>
	</ul>
	</div> </div>
</div>
        <div class="">
            <div class="col-md-12 " >
                <div class="row ">
                    <div id="carousel-example-generic" class="carousel slide right-icon " data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators " id="indicators-circle">
                            <li data-target="#carousel-example-generic" data-slide-to="{{$index}}"
                                ng-class="{active: $index==0}" ng-repeat="item in data.slides track by $index"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item " ng-class="{active: $index==0}" ng-repeat="item in data.slides track by $index">
                                <div style="overflow-x:hidden;height:350px;" ng-style="{cursor: item.url ? 'pointer' : 'default'}" title="{{item.url ? '点击查看详细' : ''}}"><img style="position: absolute; left: 50%;margin-left: -960px;width:2000px; text-align: center;" ng-src="{{item.img | formatUrl}}"  ng-click="clickAds(item.url)"></div>
                                <div class="carousel-caption"></div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

        </div>
		<div class="well">
			<div class="container">
				<div class='col-md-4'>
					<h2>数据服务</h2><a name="service"></a>
					<p><img ng-src="{{data.service.img | formatUrl}}"   class="img-list img-thumbnail" /></p>
					<p ng-bind-html="data.service.description"></p>
				</div>
				<div class='col-md-8' style="padding-top: 63px;">
					<div class="col-md-3" ng-repeat="item in data.service.list track by $index">
						<img ng-src="{{item.img | formatUrl}}"  class="img-list img-thumbnail" title="{{item.name}}"/>
						<h3 class="padding-v15" ng-bind-html="item.name"></h3>
						<p ng-bind-html="item.description"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="">
			<div class="container">
				<div class='col-md-4'>
					<h2>SAAS</h2><a name="saas"></a>
					<p><img ng-src="{{data.saas.img | formatUrl}}"   class="img-list img-thumbnail" /></p>
					<p ng-bind-html="data.saas.description"></p>
				</div>
				<div class='col-md-8' style="padding-top: 63px;">
					<div class="col-md-3" ng-repeat="item in data.saas.list track by $index">
						<img ng-src="{{item.img | formatUrl}}"  class="img-list img-thumbnail" title="{{item.name}}"/>
						<h3 class="padding-v15" ng-bind-html="item.name"></h3>
						<p ng-bind-html="item.description"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="container">
				<div class='col-md-4'>
					<h2>解决方案</h2><a name="solution"></a>
					<p><img ng-src="{{data.solution.img | formatUrl}}"  class="img-list img-thumbnail" /></p>
					<p ng-bind-html="data.solution.description"></p>
				</div>
				<div class='col-md-8' style="padding-top: 63px;">
					<div class="col-md-3" ng-repeat="item in data.solution.list track by $index">
						<img ng-src="{{item.img | formatUrl}}"  class="img-list img-thumbnail" title="{{item.name}}"/>
						<h3 class="padding-v15" ng-bind-html="item.name"></h3>
						<p ng-bind-html="item.description"></p>
					</div>
				</div>
			</div>
        </div>
        <script type="text/javascript">
            // 激活页面右上角的轮播图
            jQuery(".carousel").carousel();
        </script>